body {
    font-family: Gaegu;
    font-weight: bold;
    background-color: #FFFAED;
}

@font-face {
	font-family: Gaegu;
	src: url(Gaegu-Regular.ttf);
  }
  
.title {
    color: #7b7aaf;
}

#content {
    display: grid;
    place-items: center;
}

.button {
    text-decoration: none;
    background-color: #9695D4;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px 10px 7px 10px;
    margin: 3px;
    width: 6em;
    text-align: center;
}

.button:hover {
    background-color: #7b7aaf;
}

a {
    text-decoration: none;
    color: #7b7aaf;
}

a:hover {
    text-decoration: underline;
    color: #7b7aaf;
}

/* navbar */
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7b7aaf;
    height: 48px;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #9695D4;
}

#navbar li.dropdown {
    display: block;
    float: right;
}

#navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #7b7aaf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:8px;
    top: 56px;
    height: 43px;
}

#navbar .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

#navbar .dropdown-content a:hover {
    background-color: #9695D4;
}

#navbar .dropdown:hover .dropdown-content {
    display: block;
}

#navbar .icon {
    font-size:x-large;
    display: inline-block;
    vertical-align: top;
}

/* drawing */

#board {
    width: 1000px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    position: relative;
}
.pen {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
}

  
/* slide buttons */

.slide-button {
    background-color: #7b7aaf;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    width: 125px;
    text-align: center;
    display: inline-block;
  }

  .slide-button:hover {
    transform: translateX(20px);
  }

  .button {
    background-color: #7b7aaf;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    width: 125px;
    text-align: center;
    display: inline-block;
  }

.container {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}
.col.buttons {
    flex-direction: row;
    align-content: space-evenly;
}

.upload::file-selector-button {
    border: none;
    background-color: #9695D4;
    color:white
}

.box {
    width: 500px;
    margin: 0 auto;
    text-align: justify;
}

/* write page */

.write .drawing {
    max-width: 30em;
}

.prompt {
    font-weight: bold;
    font-size: larger;
}

.write.container {
    position: fixed;
    top: 8em;
}

.write .field textarea {
    border: none;
    border-radius: 10px 10px 10px 10px;
    background-color: #e3dfd5;
}

.write .field textarea:focus {
    border: none;
    outline: none !important;
}

.prompt {
    font-weight: bold;
    font-size: larger;
}

.write.container {
    position: fixed;
    top: 8em;
}

.write .field textarea {
    border: none;
    border-radius: 10px 10px 10px 10px;
    background-color: #e3dfd5;
}

.write .field textarea:focus {
    border: none;
    outline: none !important;
}


/* journals page */

.entries {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.entry {
    background-color: #fff6de;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #cfcabc;
    text-align: center;
    width: 15em;
    transition: all .2s ease-in;
}

.entry .date {
    color: black;
}

.entry:hover {
    background-color: #c4c3e0;
}

.entry:hover .title {
    color: #fff6de;
}

.entry:hover .date {
    color: #fff6de;
}

.entries a:hover {
    text-decoration: none;
}

.entry .drawing {
    width: 12em;
}


.journal-page .drawing {
    margin: 1em;
    max-width: 30em;
}
