body {
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    background-color: #FFFAED
}

.title {
    color: #7b7aaf;
}

#content {
    display: grid;
    place-items: center;
}

.button {
    text-decoration: none;
    background-color: #9695D4;
    color: #333333;
    padding: 2px 6px 2px 6px;
    margin: 3px;
    width: 6em;
    text-align: center;
}

.button:hover {
    background-color: #7b7aaf;
}

/* navbar */
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7b7aaf;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nvar li a:hover {
    background-color: #9695D4;
}

#navbar li.dropdown {
    display: inline-block;
}

#navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #7b7aaf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#navbar .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#navbar .dropdown-content a:hover {
    background-color: #9695D4;
}

#navbar .dropdown:hover .dropdown-content {
    display: block;
}

/* drawing */

#board {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    position: relative;
}
.pen {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
}

/* slide buttons */

.slide-button {
    background-color: #7b7aaf;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    width: 125px;
    text-align: center;
    display: inline-block;
  }
  
  .slide-button:hover {
    transform: translateX(20px);
  }
  
.container {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}
.col.buttons {
    flex-direction: row;
    align-content: space-evenly;
}

.upload::file-selector-button {
    border: none;
    background-color: #9695D4;
}

.box {
    width: 500px;
    margin: 0 auto;
    text-align: justify;
  }
  
  
  
  
