{% extends "layout.html" %}
{% block content %}
<h1 class="title">About</h1>
<audio loop src="{{ url_for('static', filename='glow.mp3') }}" autoplay></audio>
<img src="{{ url_for('static', filename='about.gif') }}">
<h2 class="title">Art Therapy</h2>
<body>Uses the creative process of art-making to improve a person’s physical, mental, and emotional well-being</body>
<h3 class="title">Why not just go to ‘regular’ therapy?</h3>

<style>
    .box {
      width: 700px;
    }
  </style>

    <p class="box">For many people, talk therapy can be incredibly helpful, yet verbalizing emotions isn't always intuitive. Possibly you find it difficult to express your feelings or scary to sit across from a therapist. Or perhaps you've avoided even thinking about a painful event that has happened to you, choosing to bury it deep inside while making an effort to ignore it. Art therapy can allow you to explore how the art relates to oneself, what you are feeling and what you want to heal. While our websites complements traditional art therapy, it's not meant to replace it. If you're looking for professional art therapy services in the greater Philadelphia area, we've got you covered. </body>
    <p class="box"><a href={{ url_for('resources') }}>Check out the resources tab!</a></body>

{% endblock %}