{% extends "layout.html" %}
{% block content %}
<h1 class="title">What kind of collage do you want to make?</h1>

<form method = "POST" enctype = "multipart/form-data">
    <select name="prompt" id="prompt">
        {% for prompt in prompts %}
            <option value="{{ prompt }}">{{ prompt }}</option>
        {% endfor %}
    </select>
    <h3 class = "title">Upload your image here</h3>
      <input type="file" name="file" class="upload button"/>
      <input type="submit" class="button"/>
      
</form>
{% endblock %}