{% extends "layout.html" %}
{% block content %}
    <audio loop src="{{ url_for('static', filename='violet.mp3') }}" autoplay></audio>
    <h1 class="title">New Drawing Journal Entry</h1>
    <img src="{{ url_for('static', filename='journal.gif') }}" width="40%">

    <form class="prompt-container" action="{{ url_for('draw_prompt') }}" method="POST">
        <div id="output" class="prompt">
            {% if prompt %}{{ prompt }}{% endif %}
        </div>
        <button type="submit" class="btn btn-primary btn-lg button shuffle shuffle-button" name="button" value="generate_prompt">
            <span class="material-symbols-rounded icon" style="font-size: 10em;">shuffle</span>
        </button>
        <input type="hidden" name="prompt" value="{{ prompt }}">
    </form>
    <div class="buttons">
        Continue with:
        <button class="slide-button button prompt-btn" onclick="window.location.href = '{{ url_for('draw') }}'">Draw</button>
        <button class="slide-button button prompt-btn" onclick="window.location.href = '{{ url_for('upload') }}'">Upload</button>
    </div>
    <script>
        function printOutput() {
            var url = "{{ url_for('draw_prompt') }}?_=" + new Date().getTime();
            fetch(url)
            .then(response => response.text())
            .then(prompt => {
                document.getElementById("output").innerHTML = "<h4>" + prompt + "</h4>";
            });
        }
    </script>
{% endblock %}
