{% extends "layout.html" %}
{% block content %}

<h1 class = "title">What do you want to draw today?</h1>
<audio loop src="{{ url_for('static', filename='celestia.mp3') }}" autoplay></audio>
    <form method = "POST" enctype = "multipart/form-data">
        <select name="prompt" id="prompt">
            {% for prompt in prompts %}
                <option value="{{ prompt }}">{{ prompt }}</option>
            {% endfor %}
        </select>
    </form>
    
    <div id="board"></div>
    <div id="color-palette">
        <div class="pen" id=s"red" style="background-color: red;"></div>
        <div class="pen" id="green" style="background-color: green;"></div>
        <div class="pen" id="blue" style="background-color: blue;"></div>
        <div class="pen" id="yellow" style="background-color: yellow;"></div>
        <div class="pen" id="black" style="background-color: black;"></div>
    </div>
    <p>no mistakes, just happy accidents - bob ross</p>
    <div>
        
        <button id="save-button" style="background-color:#7b7aaf;  color: white; border-color: white;">Save</button>
    </div>

    </body>
    <script>
        const board = document.getElementById("board");
        const colorPalette = document.getElementById("color-palette");
        let currentColor = "black";

        // Create the canvas element
        const canvas = document.createElement("canvas");
        canvas.width = board.offsetWidth;
        canvas.height = board.offsetHeight;
        board.appendChild(canvas);

        // Get the 2D context of the canvas
        const ctx = canvas.getContext("2d");

        // Listen for mouse events on the canvas
        let isDrawing = false;
        canvas.addEventListener("mousedown", e => {
            isDrawing = true;
            ctx.beginPath();
            ctx.moveTo(e.clientX - board.offsetLeft, e.clientY - board.offsetTop);
        });
        canvas.addEventListener("mouseup", () => (isDrawing = false));
        canvas.addEventListener("mouseout", () => (isDrawing = false));
        canvas.addEventListener("mousemove", e => {
            if (isDrawing) {
            ctx.lineTo(e.clientX - board.offsetLeft, e.clientY - board.offsetTop);
            ctx.strokeStyle = currentColor;
            ctx.stroke();
            }
        });

        // Listen for click events on the color palette
        colorPalette.addEventListener("click", e => {
            if (e.target.className === "pen") {
            currentColor = window.getComputedStyle(e.target).backgroundColor;
            }
        });

        const saveButton = document.getElementById("save-button");

        // Listen for click events on the save button

        saveButton.addEventListener("click", () => {
            const link = document.createElement("a");
            link.download = "drawing.png";
            link.href = canvas.toDataURL();
            link.click();
        });
        </script>

{% endblock %}
