{% extends "layout.html" %}
{% block content %}
  <form method = "POST" enctype = "multipart/form-data" name="drawing">
    <select name="pen-size" id="pen-size">
        <option value="2">2px</option>
        <option value="4">4px</option>
        <option value="6">6px</option>
        <option value="8">8px</option>
        <option value="10">10px</option>
    </select>

    <script>
        // Get the pen size dropdown menu
        const penSizeSelect = document.getElementById("pen-size");

        // Listen for change events on the pen size dropdown menu
        penSizeSelect.addEventListener("change", e => {
        ctx.lineWidth = e.target.value;
        });
    </script>
    <div id="board"></div>
    <div id="color-palette">
        <div class="pen" id="red" style="background-color: #ef476f;"></div>
        <div class="pen" id="orange" style="background-color: #f77f00;"></div>
        <div class="pen" id="yellow" style="background-color: #ffd166;"></div>
        <div class="pen" id="green" style="background-color: #06d6a0;"></div>
        <div class="pen" id="lightblue" style="background-color: #4cc9f0;"></div>
        <div class="pen" id="blue" style="background-color: #5e60ce;"></div>
        <div class="pen" id="purple" style="background-color: #9d4edd;"></div>
        <div class="pen" id="black" style="background-color: black;"></div>
        <div class="pen" id="white" style="background-color: white;"></div>
        <input type="color" id="color-picker-pen" class="pen" value="#000000">
      </div>
      
    <p>no mistakes, just happy accidents - bob ross</p>
    <label for="title" class="title"><b>Title your piece:</b></label>
    <input type="text" name="title">
    <input type="file" name="drawing-file" id="drawing-file" style="display: none;"></input>

    <div>
        <button id="save-button" class="button" >Save</button>
    </div>
</form>
    <script>
        const board = document.getElementById("board");
        const colorPalette = document.getElementById("color-palette");
        let currentColor = "black";

        // Create the canvas element
        const canvas = document.createElement("canvas");
        canvas.width = board.offsetWidth;
        canvas.height = board.offsetHeight;
        board.appendChild(canvas);

        // Get the 2D context of the canvas
        const ctx = canvas.getContext("2d");
    </script>
    <script>
        const colorPicker = document.getElementById("color-picker-pen");
      
        // Listen for change events on the color picker input element
        colorPicker.addEventListener("change", e => {
          currentColor = e.target.value;
        });
      
        // Listen for click events on the color palette
        colorPalette.addEventListener("click", e => {
          if (e.target.className === "pen") {
            currentColor = window.getComputedStyle(e.target).backgroundColor;
          }
        });
      
        // Listen for mouse events on the canvas
        let isDrawing = false;
        canvas.addEventListener("mousedown", e => {
          isDrawing = true;
          ctx.beginPath();
          ctx.moveTo(e.clientX - board.offsetLeft, e.clientY - board.offsetTop);
        });
        canvas.addEventListener("mouseup", () => (isDrawing = false));
        canvas.addEventListener("mouseout", () => (isDrawing = false));
        canvas.addEventListener("mousemove", e => {
          if (isDrawing) {
            ctx.lineTo(e.clientX - board.offsetLeft, e.clientY - board.offsetTop);
            ctx.strokeStyle = currentColor; // Set the strokeStyle to the current color
            ctx.stroke();
          }
        });
      </script>
    <script>
        const saveButton = document.getElementById("save-button");

        // Listen for click events on the save button
        saveButton.addEventListener("click", () => {
            var dataURL = canvas.toDataURL('image/png');
            $.ajax({
                type: "POST",
                url: "/save_image",
                data: { 
                    imgBase64: dataURL
                },
                async: false
            });
        });
        </script>
        <script>
            function showDiv(divId, element) {
                document.getElementById(divId).style.display = element.value == "Or, use your own prompt" ? 'block' : 'none';
            }
        </script>
{% endblock %}
