{% extends "layout.html" %}
{% block content %}
    <div class="journal-page">
        <center class="journal-page">
            <img src="{{ url_for('static', filename='uploads/'+journal.image) }}" class="drawing">
            <h1 class="title">
                {{journal.title}}
                {% if journal.mood == 1 %}
                    😟
                {% endif %}
                {% if journal.mood == 2 %}
                    😡
                {% endif %}
                {% if journal.mood == 3 %}
                    😔
                {% endif %}
                {% if journal.mood == 4 %}
                    😊
                {% endif %}
                {% if journal.mood == 5 %}
                    😂
                {% endif %}

            </h1>
            <p class="date">{{journal.time_created.strftime("%B %d, %Y at %I:%M %p")}}</p><br>
            <body>{{journal.about}}</body>
            <h3>Prompt: {{journal.prompt}}</h3>
            <div class="title">{{journal.question1}}</div><body>{{journal.entry1}}</body><br>
            <div class="title">{{journal.question2}}</div><body>{{journal.entry2}}</body><br>
            <div class="title">{{journal.question3}}</div><body>{{journal.entry3}}</body><br>
        </center>
    </div>
{% endblock %}