{% extends "layout.html" %}
{% block content %}
    <h1 class="title">Past Entries</h1>
    <img src="{{ url_for('static', filename='past.gif') }}">
    <h4></h4>
        <body>Here you can view all past journal entries that you have collected over time.</body>

    {% for journal in journals %}
    <p>
        <h1 class="title">Journal</h1>
        {{journal.time_created}}<br>
        <h3>{{journal.prompt}}</h3>
        <center>
            <div class="title">What did you draw?</div><body>{{journal.entry1}}</body><br>
            <div class="title">How did you feel before and after completing your work?</div><body>{{journal.entry2}}</body><br>
            <div class="title">Write anything else about your artwork here:</div><body>{{journal.entry3}}</body><br>
        </center>
    </p>
    {% endfor %}
{% endblock %}
