<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>ColorfulCounseling</title>
    {% endblock %}
  </head>
  <body>
    <div id="navbar">
      <div class="center">
        <ul>
          <li><a href="{{ url_for('home') }}">home</a></li>
          <li><a href="{{ url_for('about') }}">about</a></li>
          <li><a href="{{ url_for('new') }}">start</a></li>
          <li><a href="{{ url_for('journals') }}">past entries</a></li>
          <li><a href="{{ url_for('resources') }}">resources</a></li>
        </ul>
      </div>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>