{% extends "layout.html" %}
{% block content %}
<audio loop src="{{ url_for('static', filename='violet.mp3') }}" autoplay></audio>
    <h1 class="title">New Journal Entry</h1>
            <img src="{{ url_for('static', filename='journal.gif') }}">
        <div class="col buttons">
            <button class="slide-button button" onclick="window.location.href = '{{ url_for('draw') }}'">Draw</button>
            <button class="slide-button button" onclick="window.location.href = '{{ url_for('collage') }}'">Collage</button>
            <button class="slide-button button" onclick="window.location.href = '{{ url_for('photography') }}'">Photograph</button>
            <button class="slide-button button" onclick="window.location.href = '{{ url_for('sculpt') }}'">Sculpt</button>
        </div>
{% endblock %}
