{% extends "layout.html" %}
{% block content %}
<audio loop src="{{ url_for('static', filename='violet.mp3') }}" autoplay></audio>
<h1 class="title">What do you want to photgraph today?</h1>

<form method = "POST" enctype = "multipart/form-data">
    <select name="prompt" id="prompt">
        {% for prompt in prompts %}
            <option value="{{ prompt }}">{{ prompt }}</option>
        {% endfor %}
    </select>
    <h3>Upload your image here</h3>
    <input type="file" name="file" class="upload button"/>
    <input type="submit"/>
</form>
{% endblock %}