{% extends "layout.html" %}
{% block content %}
    <audio loop src="{{ url_for('static', filename='violet.mp3') }}" autoplay></audio>
    <h1 class="title">New Journal Entry for Photos</h1>
    <img src="{{ url_for('static', filename='journal.gif') }}">

    <form class="prompt-container" action="{{ url_for('photo_prompt') }}" method="POST">
        <div id="output" class="prompt">
            {% if prompt %}{{ prompt }}{% endif %}
        </div>
        <button type="submit" class="btn btn-primary btn-lg button shuffle shuffle-button" name="button" value="generate_prompt">
            <span class="material-symbols-rounded icon" style="font-size: 10em;">shuffle</span>
        </button>
        <input type="hidden" name="prompt" value="{{ prompt }}">
    </form>
    <div class="col buttons">
        <button class="slide-button button" onclick="window.location.href = '{{ url_for('photo') }}'">Upload</button>
    </div>
    <script>
        function printOutput() {
            var url = "{{ url_for('photo_prompt') }}?_=" + new Date().getTime();
            fetch(url)
                .then(response => response.text())
                .then(prompt => {
                document.getElementById("output").innerHTML = "<h4>" + photoprompt + "</h4>";
                });
        }
    </script>
{% endblock %}
