{% extends "layout.html" %}
{% block content %}
<h1 class="title">Resources</h1>
<img src="{{ url_for('static', filename='resources.gif') }}">
<h4></h4>
<body>   Discover the vivid world of emotions through ColourfulCounseling, a virtual tool designed to help you express yourself through art and embark on a journey of self-discovery. While it complements traditional art therapy, it's not meant to replace it. If you're looking for professional art therapy services in the greater Philadelphia area, we've got you covered.</body>
<h4 class="title">Check out the resources below:</h4>
<body>
   <a href="https://www.phillyarttherapy.com/ ">Philadelphia Art therapy</a>
   <a href="https://www.chop.edu/services/creative-arts-therapies ">Children Hospital of Pennsylvania</a>
   <a href="http://www.paarttherapy.org/ ">PA Art Therapy</a>
</body>
{% endblock %}