{% extends "layout.html" %}
{% block content %}
    <head>
        <title>New Features | Art Therapy Website</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>

        <header>
            <h1 class="title">New Features</h1>
        </header>

        <style>
            .box {
              width: 700px;
            }
          </style>

        <main class="box">
            <section>
                <h2 class="title">Sentiment Analysis</h2>
                <p>We've implemented a sentiment analysis tool that allows you to analyze your drawing's emotional tone. Our image object analysis will help you understand the objects and symbols you depict in your artwork.</p>
            </section>
            <section>
                <h2 class="title" >Improved Upload Image and AI-Generated Drawing Prompts</h2>
                <p>We've also improved our upload image functionality, making it easier for you to share your creations. Our AI-generated drawing prompts will provide you with unique challenges, and we've redesigned our drawing prompt page for a more user-friendly experience. Our prompts are now based on your past drawings and emotions, giving you an opportunity to explore your inner self.</p>
            </section>
            <section>
                <h2 class="title">Exclusively Focused on Drawings and Photos</h2>
                <p>We are now exclusively focused on drawings and photography instead of sculpting and collaging.</p>
            </section>
            <section>
                <h2 class="title">Multi-Language Support</h2>
                <p>We have also added multi-language support, so everyone can access and benefit from our website.</p>
            </section>
        </main>
{% endblock %}
