{% extends "layout.html" %}
{% block content %}
    <head>
        <title>New Features | Art Therapy Website</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>

        <header>
            <h1 class="title">New Features</h1>
        </header>

        <style>
            .box {
              width: 700px;
            }
          </style>

        <main class="box">
            <section>
                <h2 class="title">Sentiment Analysis and Color Analysis</h2>
                <p>We've implemented a sentiment analysis tool that allows you to analyze your drawing's emotional tone and color analysis to explore your color choices. Our image object analysis will help you understand the objects and symbols you depict in your artwork.</p>
            </section>
            <section>
                <h2 class="title" >Improved Upload Image and AI-Generated Drawing Prompts</h2>
                <p>We've also improved our upload image functionality, making it easier for you to share your creations. Our AI-generated drawing prompts will provide you with unique challenges, and we've redesigned our drawing prompt page for a more user-friendly experience. Our prompts are now based on your past drawings and emotions, giving you an opportunity to explore your inner self.</p>
            </section>
            <section>
                <h2 class="title">Sentiment Analysis of Writing and Happiness Scale</h2>
                <p>To make the site visually appealing, we've revamped the look and feel of the entire site. We've also added sentiment analysis of writing and writing prompts that are generated based on your drawing. You can rate your happiness scale based on image and writing analysis.</p>
            </section>
            <section>
                <h2 class="title">Exclusively Focused on Drawings, Mood Tracker, and Gamification Rewards</h2>
                <p>We are now exclusively focused on drawings instead of photography, sculpting, and collaging. Additionally, our mood tracker will help you understand your emotional states through your art. Our gamification rewards include achievements, milestones, and more, while the auto-tagging of work makes it easy for you to find and organize your creations.</p>
            </section>
            <section>
                <h2 class="title">Multi-Language Support and Prompts Based on Music</h2>
                <p>We have also added multi-language support, so everyone can access and benefit from our website. Lastly, we've introduced prompts based on music, allowing you to draw what you feel while listening to music. With these new features, we hope to provide you with a more personalized and fulfilling art therapy experience.</p>
            </section>
        </main>
{% endblock %}
