{% extends "layout.html" %}
{% block content %}
<audio loop src="{{ url_for('static', filename='pillars.mp3') }}" autoplay></audio>

<h2>{{prompt}}</h2>
<form method = "POST" enctype = "multipart/form-data">
    <label for="title">Title your piece:</label>
    <input type="text" name="title"><br>
    <label for="description">Please describe what you drew in a few words:</label>
    <input type="text" name="description">
    <h3>Upload your image here</h3>
    <input type="file" name="file" class="upload button"/>
    <input type="submit"/>
</form>
{% endblock %}
